.botao {
    border-radius: 10px;
    background: #6278F7;
    font-weight: 700;
    font-family: Montserrat;
    font-size: 20px;
    color: #FFF;
    padding: 28px 29px;
    border: none;
    cursor: pointer;
    margin: 40px 0;
}

.botao:hover {
    color: #95FFD4;
}